name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - run: yarn
      working-directory: ./web
    - run: yarn build
      working-directory: ./web
    - run: yarn test
      working-directory: ./web
      env:
        CI: true
