{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": ["graphql-tag"]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": ["graphql-tag"]
    },
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": "commonjs"
          }
        ],
        "next/babel"
      ],
      "plugins": ["graphql-tag"]
    }
  }
}
